@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'druk_text';
	src: url('../../../public/druktext-heavy.woff') format('woff');
}

:root {
	--white: #ffffff;
	--black-1: #000000;
	--black-2: #202020;
	--black-3: #7e7a7b;
	--primary: #ff11aa;
	--secondary: #001331;
}

body {
	color: var(--black-3);
	background: var(--black-1);
	overflow-x: hidden;
}

a {
	color: var(--white);
	font-weight: 600;
}

.h2 {
	font-family: druk_text;
	color: var(--white);
	margin-bottom: 37px;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}
